import React from 'react';
import classNames from 'classnames';
import PropTypes from 'prop-types';

export const {{pascalCase name}} = (props) => {
  const {
    variant,
    className,
    children,
    ...rest
  } = props;

  const classes = classNames(
    '{{kebabCase name}}',
    { [`{{kebabCase name}}--${variant}`]: variant },
    { [`${className}`]: className }
  );

  return (
    <div className={classes} {...rest}>
      {{kebabCase name}}
      {children}
    </div>
  );
};

{{pascalCase name}}.defaultProps = {
  variant: 'default'
};

{{pascalCase name}}.propTypes = {
  variant: PropTypes.oneOf(['default']),
  className: PropTypes.string,
  children: PropTypes.oneOfType([PropTypes.node, PropTypes.string]),
};
